# DQX Data Quality Rules for Customers
# See: https://databrickslabs.github.io/dqx/


- criticality: error
  name: customer_id_not_null
  check:
    function: is_not_null
    arguments: 
      column: id
  
- criticality: error
  name: customer_name_not_blank
  check:
    function: is_not_null_and_not_empty
    arguments: 
      column: customer_name
  
- criticality: error
  name: email_not_null
  check:
    function: is_not_null
    arguments: 
      column: email
  
- criticality: error
  name: email_valid_format
  check:
    function: regex_match
    arguments: 
      column: email
      regex: ".*@.*\\..*"
  
- criticality: error
  name: phone_not_null
  check:
    function: is_not_null
    arguments: 
      column: phone
  
- criticality: error
  name: country_not_null
  check:
    function: is_not_null
    arguments: 
      column: country
  
- criticality: error
  name: registration_date_not_null
  check:
    function: is_not_null
    arguments: 
      column: registration_date
