# DQX Data Quality Rules for Orders
# See: https://databrickslabs.github.io/dqx/

- criticality: error
  name: order_id_not_null
  check:
    function: is_not_null
    arguments: 
      column: id
  
- criticality: error
  name: customer_id_not_null
  check:
    function: is_not_null
    arguments: 
      column: customer_id
  
- criticality: error
  name: product_id_not_null
  check:
    function: is_not_null
    arguments: 
      column: product_id
  
- criticality: error
  name: order_date_not_null
  check:
    function: is_not_null
    arguments: 
      column: order_date
  
- criticality: error
  name: quantity_positive
  check:
    function: is_not_less_than
    arguments: 
      column: quantity
      limit: 0
  
- criticality: error
  name: order_amount_positive
  check:
    function: is_not_less_than
    arguments: 
      column: order_amount
      limit: 0
  
- criticality: error
  name: status_not_blank
  check:
    function: is_not_null_and_not_empty
    arguments: 
      column: status
  
- criticality: error
  name: status_valid_values
  check:
    function: is_in_list
    arguments: 
      column: status
      allowed: 
        - "pending"
        - "processing"
        - "shipped"
        - "delivered"
        - "cancelled"
