# DQX Data Quality Rules for Products
# See: https://databrickslabs.github.io/dqx/

- criticality: error
  name: product_id_not_null
  check:
    function: is_not_null
    arguments: 
      column: id
    
- criticality: error
  name: product_name_not_blank
  check:
    function: is_not_null_and_not_empty
    arguments: 
      column: product_name
    
- criticality: error
  name: category_valid_values
  check:
    function: is_in_list
    arguments: 
      column: category
      allowed: 
        - "Electronics"
        - "Clothing"
        - "Home"
        - "Sports"
        - "Books"
        - "Toys"

- criticality: error
  name: unit_price_positive
  check:
    function: is_not_less_than
    arguments: 
      column: unit_price
      limit: 0
      
- criticality: error
  name: stock_quantity_non_negative
  check:
    function: is_not_less_than
    arguments: 
      column: stock_quantity
      limit: 0
